<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hello! My name is Shelby Ziccardi and I am a senior PhD candidate in Computer Science at the University of Minnesota. My research focuses on methods of analysis for natural movement. Primarily this has been for analyzing typical and atypical human movement patterns for clinical applications. I am also extending this work to investigate methods of generating realistic human movement that captures the diversity of movement strategies humans take. </p>
      </div>
      <div class="col-lg-4">
        <p>Outside of the classroom and the lab, I am a huge reader and love the forests and mountains of the pacific northwest. I also enjoy sewing, cooking, and sports. I am involved with disability rights groups and play wheelchair sports when I can. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center" style="text-align:center">
        <p>I am always looking for research internship opportunities and plan to work in industry R&D positions after graduation.  </p>
        <p>Lets connect!</p>
      </div>
    </div>
  </div>
</section>
