<!-- CV Section -->
<section class="cv" id="CV">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>CV</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Education</b></p>
      </div>
    </div>

    <div class="col-lg-4" style="margin-bottom:2em;">
      <p><b>University of Minnesota</b> - Minneapolis, MN</p>
      <p>PhD in Computer Science and Engineering</p>
      <p>Sept 2020 - Dec 2026 (estimated)</p>
      
      <p><b>Relevant Coursework:</b> Motion and Planning in Games, 3D Computer Vision, Fundamentals of Machine Learning, Applied Motion Capture and Movement Analysis Technology, Advanced Computer Graphics, Computational Matrix Theory </p>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4">
        <p><b>Aquincum Institute of Technology </b> - Budapest, Hungary</p>
        <p>Study Abroad in Software Engineering</p>
        <p>Jan 2017 - May 2017</p>
      
        <p><b>Relevant Coursework:</b> Computer Vision Applications for Digital Cinema, Mobile Development </p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Portland Community College</b> - Portland, OR</p>
        <p>Supplemental Study in Multimedia</p>
        <p>May 2016 - Dec 2016</p>
      </div>
      <div class="col-lg-4">
        <p><b>Relevant Coursework:</b>Multimedia Design, Graphics for Multimedia, 3D Animation and Modeling</p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Lewis & Clark College</b> - Portland, OR</p>
        <p>BA in Computer Science and Mathematics, Minor in Physics</p>
        <p>Aug 2014 - May 2018</p>
      </div>
      <div class="col-lg-4">
        <p><b>Relevant Coursework:</b> Computer Graphics, Algorithms and Data Structures, Linear Algebra, Human-Computer Interaction </p>

        <p><b>Associated Honors: </b>Robert B. Pamplin Honors Society of Fellows, Pi Mu Epsilon Oregon Eta Chapter President, Gender Minorities in STEM Club Founder and Leader (GEMSTEM), Disabled Student Union founding member, Dean’s List </p>
      </div>
    </div>

    <hr>
    
    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Industry Experience</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Computer Vision Research Intern</b> - Minneapolis, MN</p>
        <p>Kitware</p>
        <p>May 2021 - Aug 2021</p>
      </div>

      <div class="col-lg-4">
        <ul>
          <li>Developed evaluation metric library in Python for active learning parameter tuning of motion tracking system.</li>
          <li>Established randomized baselines for evaluating effectiveness of various models.</li>
          <li>Integrated development within large scale project and open source libraries including KWIVR.</li>
          <li>Presented my progress effectively to the client every two weeks and to the company as a whole at the end of the program.</li>
        </ul>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Junior Interactive Software Developer </b> - Portland, OR</p>
        <p>Downstream LLC</p>
        <p>May 2018 - July 2020</p>
      </div>

      <div class="col-lg-4">
        <p>Built innovative interactive native windows applications or augmented reality mobile applications for more than 12 high-profile clients. Designed effective, flexible, and maintainable code structure in a C++ environment that fulfilled client and designer requested features. Implemented improvements to company-wide frameworks based in Cinder, an open source graphics framework wrapper for OpenGL. Managed support tickets, onsite and remote installations, and both client and department collaborations </p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Visiting Research Assistant </b> - Los Angeles, CA</p>
        <p>University of Southern California Institute for Creative Technologies, Mixed Reality Lab</p>
        <p>May 2017 - Aug 2017</p>
      </div>
      <div class="col-lg-4">
        <p>Developed novel research question after thorough analysis of previous work in redirected walking and human perception in virtual reality. Designed comprehensive research strategies and a full virtual reality user study in Unity. Worked independently as well as collaboratively to set and complete intermediate goals.</p>
      </div>
    </div>

    <hr>

    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Teaching Experience</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Graduate Instructor - Applied Machine Learning (CSCI 4521)</b> - Minneapolis, MN</p>
        <p>University of Minnesota - Computer Science and Engineering</p>
        <p>Jan 2025 - May 2025</p>
      </div>
      <div class="col-lg-4">
        <p>Defined learning objectives and course policies for large advanced undergraduate elective course. Prepared and delivered 28 content-rich lectures to 135 students. Developed assignments and assessments to capture key data science and machine learning engineering skills. Managed task distribution and completion for 4 teaching assistants with varying workload requirements. Facilitated office hours and offline questions effectively and compassionately. </p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Teaching Assistant - Program Design and Development (CSCI 3081w) </b> - Minneapolis, MN</p>
        <p>University of Minnesota - Computer Science and Engineering</p>
        <p>Aug 2023 - Dec 2024</p>
      </div>
      <div class="col-lg-4">
        <p>Develop coursework and evaluation metrics to capture key curriculum features for C++ and Java based course in software engineering. Manage two lab sections per term with direct instruction for approx. 60 students. Facilitate office hours and offline questions. Collaborate with 20 other undergraduate and graduate teaching assistants to provide support to over 300 undergraduate students. </p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Co-Director / Instructor for Machine Learning Summer Camp </b> - Minneapolis, MN</p>
        <p>University of Minnesota - Data Science and AI Hub</p>
        <p>Jun 2022 - Present</p>
      </div>
      <div class="col-lg-4">
        <p>Develop 2 week long data science and machine learning curriculum for over 75 high school students each summer. Manage and meet fundraising, enrollment, and curriculum goals. Oversee 3 other instructors, 4-6 teaching assistants, and 8 volunteers across two week-long camps. Successfully teach and mentor 25 students through their own independent machine learning projects in Python using Pandas and SciKit-Learn.</p>
      </div>
    </div>

    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download PDF
        </a>
      </div>
  </div>
</section>