<!-- CV Section -->
<section class="cv" id="CV">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>CV</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Education</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>University of Minnesota</b></p>
        <p>Minneapolis, MN</p>
        <p>PhD in Computer Science and Engineering</p>
        <p>Sept 2020 - Dec 2026 (estimated)</p>
      </div>

      <div class="col-lg-4">
        <p><b>Relevant Coursework:</b> Motion and Planning in Games, 3D Computer Vision, Fundamentals of Machine Learning, Applied Motion Capture and Movement Analysis Technology, Advanced Computer Graphics, Computational Matrix Theory </p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Aquincum Institute of Technology </b></p>
        <p>Budapest, Hungary</p>
        <p>Study Abroad in Software Engineering</p>
        <p>Jan 2017 - May 2017</p>
      </div>
      <div class="col-lg-4">
        <p><b>Relevant Coursework:</b> Computer Vision Applications for Digital Cinema, Mobile App Development </p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Portland Community College</b></p>
        <p>Portland, OR</p>
        <p>Supplemental Study in Multimedia</p>
        <p>May 2016 - Dec 2016</p>
      </div>
      <div class="col-lg-4">
        <p><b>Relevant Coursework:</b>Multimedia Design, Graphics for Multimedia, 3D Animation and Modeling</p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Lewis & Clark College</b></p>
        <p>Portland, OR</p>
        <p>BA in Computer Science and Mathematics, Minor in Physics</p>
        <p>Aug 2014 - May 2018</p>
      </div>
      <div class="col-lg-4">
        <p><b>Relevant Coursework:</b> Computer Graphics, Algorithms and Data Structures, Linear Algebra, Human-Computer Interaction </p>

        <p><b>Associated Honors: </b>Robert B. Pamplin Honors Society of Fellows, Pi Mu Epsilon Oregon Eta Chapter President, Gender Minorities in STEM Club Founder and Leader (GEMSTEM), Disabled Student Union founding member, Dean’s List </p>
      </div>
    </div>

    <hr>
    
    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Industry Experience</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Computer Vision Research Intern</b> </p>
        <p>Kitware</p>
        <p>Minneapolis, MN</p>
        <p>May 2021 - Aug 2021</p>
      </div>

      <div class="col-lg-4">
        <ul>
          <li><p>Developed evaluation metric library in Python for active learning parameter tuning of motion tracking system.</p></li>
          <li><p>Established randomized baselines for evaluating effectiveness of various models.</p></li>
          <li><p>Integrated development within large scale project and open source libraries including KWIVR.</p></li>
          <li><p>Presented my progress effectively to the client every two weeks and to the company as a whole at the end of the program.</p></li>
        </ul>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Junior Interactive Software Developer </b></p>
        <p>Downstream LLC</p>
        <p>Portland, OR</p>
        <p>May 2018 - July 2020</p>
      </div>

      <div class="col-lg-4">
        <ul>
          <li><p>Built innovative interactive native windows applications or augmented reality mobile applications for more than 12 high-profile clients. </p></li>
          <li><p>Designed effective, flexible, and maintainable code structure in a C++ environment that fulfilled client and designer requested features. </p></li>
          <li><p>Implemented improvements to company-wide frameworks based in Cinder, an open source graphics framework wrapper for OpenGL. </p></li>
          <li><p>Managed support tickets, onsite and remote installations, and both client and department collaborations </p></li>
        </ul>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Visiting Research Assistant </b></p>
        <p>University of Southern California Institute for Creative Technologies</p>
        <p>Los Angeles, CA</p>
        <p>May 2017 - Aug 2017</p>
      </div>
      <div class="col-lg-4">
        <ul>
          <li><p>Developed novel research question after thorough analysis of previous work in redirected walking and human perception in virtual reality. </p></li>
          <li><p> Designed comprehensive research strategies and a full virtual reality user study in Unity. </p></li>
          <li><p> Worked independently as well as collaboratively to set and complete intermediate goals.</p></li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Teaching Experience</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Graduate Instructor - Applied Machine Learning (CSCI 4521)</b></p>
        <p>University of Minnesota - Computer Science and Engineering</p>
        <p>Minneapolis, MN</p>
        <p>Jan 2025 - May 2025</p>
      </div>
      <div class="col-lg-4">
        <ul>
          <li><p>Defined learning objectives and course policies for large advanced undergraduate elective course. Prepared and delivered 28 content-rich lectures to 135 students. </p></li>
          <li><p> Developed assignments and assessments to capture key data science and machine learning engineering skills. </p></li>
          <li><p> Managed task distribution and completion for 4 teaching assistants with varying workload requirements. </p></li>
          <li><p> Facilitated office hours and offline questions effectively and compassionately. </p> </li>
        </ul>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Teaching Assistant - Program Design and Development (CSCI 3081w) </b></p>
        <p>University of Minnesota - Computer Science and Engineering</p>
        <p>Minneapolis, MN</p>
        <p>Aug 2023 - Dec 2024</p>
      </div>
      <div class="col-lg-4">
        <ul>
          <li><p>Develop coursework and evaluation metrics to capture key curriculum features for C++ and Java based course in software engineering. </p></li>
          <li><p>Manage two lab sections per term with direct instruction for approx. 60 students. </p></li>
          <li><p>Facilitate office hours and offline questions. Collaborate with 20 other undergraduate and graduate teaching assistants to provide support to over 300 undergraduate students. </p></li>
        </ul>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Co-Director / Instructor for Machine Learning Summer Camp </b></p>
        <p>University of Minnesota - Data Science and AI Hub</p>
        <p>Minneapolis, MN</p>
        <p>Jun 2022 - Present</p>
      </div>
      <div class="col-lg-4">
        <ul>
          <li><p>Develop 2 week long data science and machine learning curriculum for over 75 high school students each summer. </p></li>
          <li><p>Manage and meet fundraising, enrollment, and curriculum goals. </p></li>
          <li><p>Oversee 3 other instructors, 4-6 teaching assistants, and 8 volunteers across two week-long camps. </p></li>
          <li><p>Successfully teach and mentor 25 students through their own independent machine learning projects in Python using Pandas and SciKit-Learn.</p></li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Service</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <p><b>Co-Chair</b>, 2023,  Center for Applied Translational Sensory Science Spring Research Symposium, University of Minnesota, Minneaplis, MN</p>

      <p><b>Founding Member</b>, 2021,  Career Technical Education Advisory Board for Software Development and Digital Art, DaVinci Charter Academy, Davis, CA</p>
    </div>

    <hr>

    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Awards</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <p><b>Honorable Mention, Collegiate Award</b>, 2018,  National Center for Women and Information Technology (NCWIT)</p>

      <p><b>Scholarship Recipient</b>, 2017,  Grace Hopper Celebration</p>
    </div>

    <hr>

    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Funding</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <p><b>Seed Grant - Digital Health and Personalized Health Care Delivery</b>, 2023 - present, Data Science and AI Hub, University of Minnesota </p>

      <p><b>Pilot Project Grant</b>, 2023 - 2024, Restore Center, Stanford University </p>

      <p><b>Research Trainee Graduate Training Program in Sensory Science</b>, 2021 - 2023,  National Science Foundation (NSF-NRT)</p>

      <p><b>Diversity of Views and Experiences Fellowship</b>, 2020 - 2021, Graduate School Diversity Office, University of Minnesota</p>
    </div>

    <hr>

    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Publications</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <p>Asante, D., <b>Ziccardi, S.</b>, Guy, S.J., & Hawe, R. (2025 December) Comparing Robotic and Computer Vision Assessments of Unilateral and Bilateral Reaching in Healthy Adults. In Smart Health. Volume 38</p>
      
      <p><b>Ziccardi, S.</b>, Chavis, Z., Hawe, R., & Guy, S.J. Reaching Motion Characterization Across Childhood via Augmented Reality Games. In arXiv preprint.</p>

      <p><b>Ziccardi, S.</b>, Timanus, S., Ashrafzadehkian, G., Guy, S.J., & Hawe, R. (2024 August) Characterization of bilateral reaching development using augmented reality games. In Human Movement Science. Volume 96</p>

      <p>Hutton, C., <b>Ziccardi, S.</b>, Medina, J., & Rosenberg, E. S. (2018 March) Please don’t puke: early detection of severe motion sickness in VR. In 2018 IEEE Conference on Virtual Reality and 3D User Interfaces (VR). IEEE.</p>

      <p>Hutton, C., <b>Ziccardi, S.</b>, Medina, J., & Rosenberg, E. S. (2018 ) Individualized Calibration of Rotation Gain Thresholds for Redirected Walking. In ICAT-EGVE. ACM.</p>
    </div>

    <hr>

    <div class="row" style="margin-bottom:2em;">
      <div style="display:block;text-transform:uppercase;font-size:4em;font-weight:bold;">
          <p><b>Presentations</b></p>
      </div>
    </div>

    <div class="row" style="margin-bottom:2em;">
      <p><b>Ziccardi, S.</b> (2025 April) Reaching Motion Characterization Across Childhood via Augmented Reality Games (oral talk). In Midwest Movement Science Symposium. Center for Clinical Movement Science.</p>

      <p><b>Ziccardi, S.</b>, Raddatz, K., Guy, S., & Hawe, R. (2023 September) Video-Based Analysis of Bilateral Arm Use in Children with Hemiparetic Cerebral Palsy (demonstration poster). In 2023 Annual Meeting. AACPDM</p>

      <p><b>Ziccardi, S.</b>, Raddatz, K., Guy, S., & Hawe, R. (2022 April) Vision-Based Analysis of Asymmetric Subject Gestures During Clinical Observation (poster). In Grad Cohort Workshop for Women. CRA-WP.</p>
    </div>


    <hr>

    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download PDF
        </a>
      </div>
  </div>
</section>